{% extends 'shop/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static '/css/info.css' %}">
{% endblock %}

{% block title %}Вакансии{% endblock %}

{% block content %}
<section class="vacancy">
    <h2>Вакансии в зоомагазин</h2>

    <section class="vacancies-list">
        <article class="vacancies" itemscope itemtype="https://schema.org/JobPosting">
            <h3 itemprop="title">Продавец</h3>
            <p itemprop="description"><strong>Описание:</strong> Мы ищем энергичного и дружелюбного продавца, 
                который будет отвечать за консультирование и обслуживание клиентов в нашем зоомагазине. 
                Ваша основная задача будет помогать клиентам в выборе правильных товаров для их животных, 
                отвечать на их вопросы и предоставлять профессиональные рекомендации. </p>
            <p><strong>Требования:</strong></p>
            <ul>
                <li>Ответственность и пунктуальность.</li>
                <li>Отличные навыки обслуживания клиентов.</li>
                <li>Способность работать в высоконагруженной среде.</li>
            </ul>
            <p><strong itemprop="a">Дедлайн вакансии: Октябрь 15, 2023</strong></p>
        </article>

        <article class="vacancies" itemscope itemtype="https://schema.org/JobPosting">
            <h3 itemprop="title">Помощник по уходу за животными</h3>
            <p itemprop="description"><strong>Описание:</strong> Мы ищем ответственного и заботливого 
                помощника по уходу за животными. Ваша задача будет включать уход за животными 
                в магазине, в том числе кормление, чистка клеток, гигиена, уход за шерстью и выгул. 
                Вы будете работать с различными видами животных, включая собак, кошек, грызунов, птиц и рептилий. </p>
            <p><strong>Требования:</strong></p>
            <ul>
                <li>Опыт работы с животными (желательно).</li>
                <li>Любовь и забота о животных.</li>
                <li>Внимательность к деталям и умение следовать инструкциям.</li>
            </ul>
            <p><strong>Дедлайн вакансии: Октябрь 20, 2023</strong></p>
        </article>

        <article class="vacancies" itemscope itemtype="https://schema.org/JobPosting">
            <h3 itemprop="title">Менеджер по закупкам</h3>
            <p itemprop="description"><strong>Описание:</strong> Мы ищем опытного и организованного менеджера по закупкам, 
                который будет отвечать за эффективное управление запасами и закупки товаров для нашего зоомагазина. 
                Ваша задача будет включать анализ рынка, поиск и выбор 
                поставщиков, переговоры о ценах и условиях поставок.</p>
            <p><strong>Требования:</strong></p>
            <ul>
                <li>Знание рынка товаров для животных и поставщиков.</li>
                <li>Организационные и аналитические навыки.</li>
                <li>Коммуникабельность и умение работать в команде.</li>
            </ul>
            <p><strong>Дедлайн вакансии: Октябрь 25, 2023</strong></p>
        </article>

        <article class="vacancies" itemscope itemtype="https://schema.org/JobPosting">
            <h3 itemprop="title">Ветеринарный специалист</h3>
            <p itemprop="description"><strong>Описание:</strong> Мы ищем высококвалифицированного 
                ветеринарного специалиста, который будет отвечать за предоставление 
                медицинской помощи и консультаций клиентам в нашем зоомагазине.</p>
            <p><strong>Требования:</strong></p>
            <ul>
                <li>Образование и опыт работы в ветеринарной медицине.</li>
                <li>Знание основных заболеваний и лечения животных.</li>
                <li>Любовь к животным и способность общаться с их владельцами.</li>
            </ul>
            <p><strong>Дедлайн вакансии: Октябрь 25, 2023</strong></p>
        </article>
    </section>
</section>
{% endblock %}