{% extends "shop/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static '/css/info.css' %}">
{% endblock %}

{% block content %}

<div class="policy">
    <h1>Политика конфиденциальности</h1>

  <p>Мы, зоомагазин, ценим вашу конфиденциальность и стремимся обеспечить защиту ваших персональных данных. В данной политике конфиденциальности мы поясняем, какие данные мы собираем и как мы их используем.</p>

  <h2>Собираемая информация</h2>

  <p>Мы можем собирать следующую информацию:</p>
  <ol>
    <li>Имя, контактная информация и адрес доставки при оформлении заказа.</li>
    <li>Адрес электронной почты для подписки на наши новости и специальные предложения.</li>
    <li>Информацию о ваших предпочтениях и интересах, которые вы указываете при заполнении анкет или опросов.</li>
    <li>Информацию о ваших взаимодействиях с нашим веб-сайтом, такую как просмотренные страницы, продукты, на которые вы нажимаете, и т.д.</li>
  </ol>

  <h2>Использование информации</h2>

  <p>Мы используем собранную информацию для следующих целей:</p>
  <ol>
    <li>Обработка и доставка ваших заказов.</li>
    <li>Отправка вам информации о наших продуктах, акциях и скидках, если вы подписались на нашу рассылку.</li>
    <li>Улучшение нашего веб-сайта и предоставление вам более персонализированного опыта.</li>
    <li>Анализ данных и статистических показателей для целей улучшения нашего бизнеса.</li>
  </ol>

  <h2>Раскрытие информации третьим сторонам</h2>

  <p>Мы не передаем, не продаем и не обмениваем вашу персональную информацию с третьими сторонами без вашего согласия, за исключением случаев, предусмотренных законодательством.</p>

  <h2>Безопасность</h2>

  <p>Мы предпринимаем все необходимые меры для защиты вашей персональной информации от несанкционированного доступа, использования или раскрытия. Мы применяем современные технологии и процедуры безопасности для защиты ваших данных.</p>

  <h2>Изменения в политике конфиденциальности</h2>

  <p>Мы можем время от времени обновлять нашу политику конфиденциальности. Любые изменения будут опубликованы на этой странице, и вы будете уведомлены о важных изменениях посредством электронной почты, если у вас есть активная подписка.</p>

  <h2>Связь с нами</h2>

  <p>Если у вас есть вопросы или требуется дополнительная информация о нашей политике конфиденциальности, пожалуйалуйста, свяжитесь с нами по следующим контактным данным:</p>

  <iframe
  width="110"
  height="100"
  src="https://www.myinstants.com/instant/fart-button/embed/"
  frameborder="0"
  style="transform:scale(0.2);opacity:1;outline:0;"
></iframe>

</div>

{% endblock %}